In [7]:
# Dependencies
import requests
import json
import pandas as pd
from math import sin, cos, sqrt, atan2

from geopy import distance

In [2]:
file1 = "Airstrikes.csv"
df_airstrike = pd.read_csv(file1, encoding="ISO-8859-1")

In [3]:
file2 = "yemen_healthsites.csv"
df_healthsite = pd.read_csv(file2, encoding="ISO-8859-1")

In [31]:
file3 = "foodports.csv"
df_foodport = pd.read_csv(file3, encoding="ISO-8859-1")

In [15]:
df_airstrike.head()
df_airstrike = df_airstrike[["Lat", "Lng"]]
df_airstrike.head()

         Lat        Lng
0  15.552727  48.516388
1  15.552727  48.516388
2  15.552727  48.516388
3  15.552727  48.516388
4  35.838063  38.537536

In [16]:
df_healthsite.head()
df_healthsite = df_healthsite[["X", "Y"]]
df_healthsite.head()

           X          Y
0  12.920622  43.441500
1  13.319845  43.241791
2  13.219313  43.269135
3  12.977752  44.892089
4  12.805794  45.038077

In [32]:
df_foodport.head()
df_foodport = df_foodport[["Lat", "Lng"]]
df_foodport.head()

     Lat     Lng
0  16.29  42.790
1  15.70  42.680
2  15.42  42.578
3  15.33  42.610
4  15.29  42.680

In [42]:
coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

print(distance.distance(coords_1, coords_2).miles)

173.5818455248231

In [24]:
counter = 0 
distances = []
for index, rowA in df_airstrike.iterrows():
    for index, rowH in df_healthsite.iterrows():
        coord1 = (rowA['Lat'], rowA['Lng'])
        coord2 = (rowH['X'], rowH['Y'])
        d = distance.distance(coord1, coord2).miles
        distances.append(d)
#         if d < 1:
#             counter = counter + 1

AttributeError: 'list' object has no attribute 'unique'

In [27]:
counter = 0 
for i in distances:
    if i < 1:
        counter = counter + 1

In [28]:
counter

15030

In [34]:
counter = 0 
distances_foodport = []
for index, rowA in df_airstrike.iterrows():
    for index, rowFP in df_foodport.iterrows():
        coord1 = (rowA['Lat'], rowA['Lng'])
        coord2 = (rowFP['Lat'], rowFP['Lng'])
        d = distance.distance(coord1, coord2).miles
        distances_foodport.append(d)

In [35]:
len(distances_foodport)

323780

In [45]:
counter = 0 
for i in distances_foodport:
    if i < 1:
        counter = counter + 1

In [46]:
counter

712

In [38]:
len(df_airstrike)

16189

In [39]:
len(df_healthsite)

2789

In [ ]:
distances_foodport = []
for index, rowA in df_airstrike.iterrows():
    for index, rowFP in df_foodport.iterrows():
        coord1 = (rowA['Lat'], rowA['Lng'])
        coord2 = (rowFP['Lat'], rowFP['Lng'])
        
        d = distance.distance(coord1, coord2).miles
        distances_foodport.append(d)