In [1]:
# Dependencies
import requests
import json
import pandas as pd
from math import sin, cos, sqrt, atan2

from geopy import distance

In [2]:
file1 = "Airstrikes.csv"
df_airstrike = pd.read_csv(file1, encoding="ISO-8859-1")

In [3]:
file2 = "yemen_healthsites.csv"
df_healthsite = pd.read_csv(file2, encoding="ISO-8859-1")

In [7]:
df_airstrike.head()
df_airstrike = df_airstrike[["Lat", "Lng"]]
df_airstrike = df_airstrike.head(10)
df_airstrike

         Lat        Lng
0  15.552727  48.516388
1  15.552727  48.516388
2  15.552727  48.516388
3  15.552727  48.516388
4  35.838063  38.537536
5  15.552727  48.516388
6  15.552727  48.516388
7  15.552727  48.516388
8  15.597500  44.046111
9  15.552727  48.516388

In [5]:
df_healthsite.head()
df_healthsite = df_healthsite[["X", "Y"]]
df_healthsite = df_air
df_healthsite.head()

           X          Y
0  12.920622  43.441500
1  13.319845  43.241791
2  13.219313  43.269135
3  12.977752  44.892089
4  12.805794  45.038077